/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply general styles to the body */
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
  }
  
  /* Container for the schedule */
  .schedule-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 80vh;
    max-height: 80vh;
    text-align: left;
    overflow-y: scroll;
  }
  
  
  /* Title styling */
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Table styling */
  .schedule-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 16px;
    overflow-y: scroll;
    /* Enable vertical scrolling */
  }
  
  .schedule-table th,
  td {
    /* border: 1px solid black; */
  
    padding-right: 50px;
    width: 1%;
  }
  
  .schedule-table tr {
    padding: 10px;
    height: 50px;
  }
  
  .eventbox {
    padding: 0px;
  }
  
  .line {
    width: 50%;
  }
  
  .event {
    background-color: red;
  }
  
  /* #tasks, .schedule-container {
    flex: 1;
  } */
  
  /* Style the container div */
  #tasks {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  /* Style labels */
  label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
  }
  
  /* input fields */
  input[type="text"],
  input[type="time"] {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  /* the submit button */
  #addBtn {
    background-color: #f9abcc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    width: 50px;
    height: 50px;
    transition: background 0.3s ease-in-out;
  }
  
  #addBtn:hover {
    background-color: #d67896;
  }
  
  /* Makes the form responsive */
  @media (max-width: 400px) {
    #tasks {
      width: 90%;
    }
  }